* {
  margin: 0;
  padding: 0;
}
body{
  font-family: arial;
}
p{
  line-height: 2;
}
a{
  color:white;
  text-decoration: none;
}
h2{
  text-align: center;
}
img{
  max-width: 100%;
}
/*utilities*/
.container{
  width:80%;
  margin-right: auto;
  margin-left: auto;
}
.btn-more{
  display: block;
  padding: 8px;
  background-color: orange;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  border-radius: 5px;
}
.bold-text{
  font-weight: bold;
  text-align: center;
  margin:10px 0;
}
.light-text{
  font-size: 14px;
  text-align: center;
  margin:10px 0;
}
/* header */
.site-header {
  background-image: url(./img/header.jpg);
  height: 40vh;
  background-position: top center;
  color: white;
}
.contact-header{
  background-color: orange;
  height: 20vh;
}
.header-container {
  display :flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 35vh;
}
.menu-bar{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  align-items: center;
}
.menu-bar a{
  margin-right:20px;
}
.contact-header a{
  color:black;
}
/*about*/ 
.about-container{
  display: flex;
}
.price{
  color:green;
}
.houses-container{
  display:flex;
}
.houses-item{
  background-color: #dedede;
  margin-right: 10px;
}
.houses-item-text{
  padding: 20px;
}
.icons-container{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.icon-item{
  display: flex;
}

/*contact*/

.form-container{
  background-color: lightgray;
  padding: 15px;
  border-radius: 10px;
}
fieldset{
  padding: 10px;
  border-radius: 10px;
  border:1px dashed black;
}
legend{
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.input-control{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.input-control label{
  display: inline-block;
  width:20%;
}
.input-control input,
.input-control textarea{
  width:80%;
  padding: 5px;
  border: none;
}

.footer-contact{
    background-color: #dedede;
}
.footer-container{
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: space-evenly;
}
.copyright-container{
  display: flex;
}
.social-container{
  display: flex;
}
.social-container a{
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
  padding:5px;
  margin-right: 10px;
}
.social-container i{
  text-align: center;
  color:black; 
  width:20px;
  height: 20px;
}
.text-b-u{
  font-weight: bold;
  text-decoration: underline;
}
.border-left{
  border-left: 2px solid black;
  padding-left: 10px;
  margin-left: 10px;
}
